.text-info{
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    color: var(--primary-text-color);
}

.movie-title{
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}




.grey-text{
    color: #777777 !important;
}

.blue-text{
    color: var(--primary-color) !important;
}

.overview{
    margin: 10px 0;
}


@media (max-width : 700px)
{
    
}